n8n_workflows/daily_notifications.json
{
  "name": "Daily Recipe Notifications",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "recipe-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [460, 300],
      "webhookId": "recipe-daily-notify"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.userEmail}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Check User Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@smartrecipe.com",
        "toEmail": "={{$json.userEmail}}",
        "subject": "🍳 Your Daily Recipe Inspiration",
        "text": "={{$json.message}}\n\nVisit your Smart Recipe dashboard to discover new recipes and plan your meals!\n\nHappy Cooking! 👨‍🍳",
        "html": "<h2>🍳 Your Daily Recipe Inspiration</h2><p>{{$json.message}}</p><p>Visit your <a href='https://your-app.com'>Smart Recipe dashboard</a> to discover new recipes and plan your meals!</p><p>Happy Cooking! 👨‍🍳</p>",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Notification sent to {{$json.userEmail}}\"}"
      },
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"User email required\"}"
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Check User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "daily-recipe-notifications"
}